h1, h2, p{
	color:deeppink;
	font-family: "Noteworthy", sans-serif;

}

body {
  background-color: white
}

img.resize{
	max-width: 25%;
	max-height: 25%;
}

#food{
	color:deeppink;
	font-family: "Noteworthy", sans-serif;
}


